<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=j, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력페이지예시</h1>

<!-- get:조회용, db에 영향x \ post : 저장용, db에 영향o -->
    <form action="/form" method="GET">
        <span>입력 키워드</span>
        <input name="num1" type="text" placeholder="키워드를 입력하세요">
        <input name="num2" type="text" placeholder="키워드를 입력하세요">
        <!-- https://www.w3schools.com/tags/tag_input.asp -->
        <button type="submit">전송</button>
    </form>
</body>
</html>